@import '../variables';

.breadcrumbs{
    display: flex;
    font-size: 18px;
    margin: 15px 0;
    height: 30px;
    align-items: center;
    @include xs-max {    
        font-size: 16px;
    }
    &__item{
        &-link{
            text-decoration: none !important;
            color: $site-text-black;
            outline: none;
            &:hover{
                span{
                    color: $site-color-hover;
                }
            }
            span{
                transition: ease-in-out .3s;
            }
        }
        &-arrow{
            padding: 0 5px;
            color: $site-color-hover;
        }
    }
    &__item:last-child{
        a{
            pointer-events: none;
            opacity: .65;
        }
    }
}
.breadcrumbs__item .active{
    pointer-events: none!important;
    .breadcrumbs__item-link{
        span{
            color: $gray;
        }
    }
}
.pages__title{
    span{
        font-weight: 600;
        font-size: 34px;
        line-height: 43px;
        color: $site-text-black;
        margin: 10px 0 20px 0;
        display: block;   
    }
}
