@import '../variables';


.video{
    margin-top: 25px;
    padding-bottom: 25px;
    .page-title-center h3{
        color: $white;
    }
    &-bg{
        background-color: $site-bg;
    }
    &-iframe{
        iframe{
            width: 100%;
            height: 550px;
            @include lg-min {   
                height: 60vh;
            }
        }
    }
}