.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: ease-in-out 3s;
}

.bm-item:hover {
  color: #56ada1;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 15px;
}

.bm-cross-button:hover {
  color: #56ada1;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}

.bm-menu-wrap {
  top: 0px;
  left: 0px;
}

#react-burger-menu-btn {
  outline: none !important;
}

.sidebar-menu {
  display: none;
  width: 40px;
  height: 70px;
  position: relative;
}

@media (max-width: 767px) {
  .sidebar-menu {
    display: block;
  }
}

.menu-item-sub {
  padding-left: 20px;
}
