$black: #232323;
$white: #fff;
$gray-bg: #f1f3f4;
$site-color: #232323;
$site-color-hover: #56ada1;
$site-bg: #5BACA2;
$site-btn: #224075;
$site-btn2: #AC5C66;

$site-ok: #52b94f;
$site-middle: #f1b41c;
$site-bad: #ff0000;

$site-bg-four: #56ada1;
$site-bg-three: #2178bb;
$site-bg-two: #092943;
$header-text: rgba(255,255,255,.7);
$header-text-hover: #56ada1;


