@import './variables';
@import './libs/normalize';
//Components
@import './components/header';
@import './components/cabinet';
@import './components/breadcrumbs';
@import './components/sidebar';
@import './components/start';
@import './components/tab';
@import './components/iframeBlock';
@import './components/features';
@import './components/join';
@import './components/blog';
@import './components/subscribe';

//Pages
@import './pages/activity-report';
@import './pages/home';



.page-title{
    width: 100%;
    padding: 25px 0;
}
.page-title-center{
    width: 100%;
    padding: 25px 0;
    text-align: center;
}
.page-sub-title{
    width: 100%;
    padding: 0 0 25px 0;
}


.rounded {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  li{
      margin-left: 1.4em;
  }
}
.rounded span {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
}
.rounded span:hover {background: #E9E4E0;}
.rounded span:hover:before {transform: rotate(360deg);}
.rounded span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.4em;
  background: $site-color-hover;
  height: 2.8em;
  width: 2.8em;
  line-height: 2.3em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.table{
    border-radius: 4px;
    thead{
        th{
            border-top: none;
        }
    }
}








#tab_container_877{
    max-width: 800px;
    float: right;
    width: 100%;
    height: 100%;
    margin: 0;
}







.home-tabs{
	#tab_container_877{
    max-width: 800px;
    float: right;
    width: 100%;
    height: 100%;
    margin: 0;
		.wpsm_nav{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			border-left: 1px solid white;
			margin-left: 18px !important;
			li{
				position:relative;
				a{
					text-align: left!important;
					border:none!important;
					padding:15px 0px 15px 18px !important;
				}
			}
			li.active:before{
				display:block;
				content: '';
				position:absolute;
				top: 0;
				left: 0;
				width: 1px;
				background:#e0603a !important;
				
			}
		}
		.tab-content{
			padding-left: 250px;
			height: 100%;
			min-height: 630px;
			padding: 8% 10% 8% 250px;
			display: flex;
			align-items: center;
			margin: 20px 0;
			img{
				position: absolute;
				left: 0;
				z-index: -1;
				top: 0;
			}
		}
	}
}

.wpsm_nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid white;
    margin-left: 18px !important;
}
.wpsm_nav > li{
    position:relative;
}
.home-tabs > #tab_container_877 > .wpsm_nav > li > a{
    text-align: left!important;
    border:none!important;
    padding:15px 0px 15px 18px !important;
}

li.active:before{
    display:block;
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 1px;
    background:#e0603a !important;
    
}


.tab-content{
    padding-left: 250px;
    height: 100%;
    min-height: 630px;
    padding: 8% 10% 8% 250px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    img{
        position: absolute;
        left: 0;
        z-index: -1;
        top: 0;
    }
}